<form [formGroup]="form">
  <div>
    <label for="password">Enter Your Password: </label>
<!--    <input id="password" type="password" formControlName="password" placeholder="password"-->
<!--           (input)="onInputChange($event)">-->
    <input id="password" type="password" formControlName="password" placeholder="password">
  </div>
</form>

<div class="check-sections">
  <div id="strength-easy" class="strength grey-section">password is easy</div>
  <div id="strength-medium" class="strength grey-section">password is medium</div>
  <div id="strength-strong" class="strength grey-section">password is strong</div>
  <div id="error" class="error"></div>
</div>



