form {
  box-sizing: border-box;
  width: 300px;
  border: 2px solid gainsboro;
  border-radius: 5px;
  margin: 100px 0 20px;
  padding: 20px;
}

input {
  width: 100%;
  height: 20px;
  margin-top: 15px;
}

.check-sections {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.strength {
  box-sizing: border-box;
  width: 300px;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: .4rem;
}

.grey-section {
  background: rgba(128, 128, 128, 60%);
}

.red-section {
  background: rgba(255, 0, 0, 60%);
}

.yellow-section {
  background: rgba(255, 255, 0, 60%);
}

.green-section {
  background: rgba(0, 128, 0, 60%);
}


